html, body {
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    
}

.nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1em 3em;
    background: linear-gradient(rgba(60,30,100,0.5), rgba(255,255,255,0)), url(https://res.cloudinary.com/fabianuzukwu/image/upload/v1567457203/EducateAll-Foundation/scwtxevfgu9bauun4mmc.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: Raleway, Candara, segoe UI, sans-serif;
    font-size: 20px;
}

#home-link
{
	text-decoration: underline;
	text-decoration-color: white;
	text-decoration-line: 5px;
}

ul li{
    list-style: none;
    display: inline-block;
}

ul li a{
    display: block;
	text-decoration: none;
	color: white;
	padding: 0 20px;
	cursor: pointer;
	transition: 0.4s ease-out;
}


ul li a:hover {
    transform: scale(1.05);
	text-decoration: underline;
	text-decoration-color: rgb(200, 200, 200);
	color: rgb(200, 200, 200);
}


section{
    text-align: center;
    margin-top: 40px; 
}


.header h1{
    font-size: 43px;
    font-weight: bold;
    font-family: Microsoft JhengHei UI ;
}

.header p{
    font-size: 25px;
    font-weight: 500;
}

#hr{
	width: 30%;
	height: 3px;
	margin: 0 auto;
	background-color: rgb(0, 0, 0, 0.2);
	border: none;
}

.hr-upcoming{
    width: 30%;
	height: 3px;
	margin: 0 auto;
	background-color: rgb(0, 0, 0, 0.2);
	border: none;
    margin: 70px auto;
}

.section-event{
    margin-bottom: 30px;
}

.event-column
{
	width: 20%;
	background-color: white;
	box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.1);
	text-align: left;
	cursor: pointer;
	border-radius: 3px;
	transition: 0.4s ease-out;
}

.event-column:hover
{
	box-shadow: 0 0 5px 25px rgba(0, 0, 200, 0.1);
}

.event-column > img
{
	display: block;
	margin: 10px auto;
}
.event-column > h3
{
	font-size: 20px;
	text-align: center;
	padding: 10px;
	margin-bottom: 30px;
}
.event-column > p
{
	font-size: 11px;
	display: block;
	width: 70%;
	margin: 20px;
	word-wrap: break-word;
}

h2
{
	font-size: 60px;
	font-weight: bolder;
	text-shadow: 2px 2px 5px black;
    padding: 50px;
    color:  #2E1F3E;
}

.event{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.blue{
    color:#2E1F3E;
    font-size: 16px;
}

footer
{
	height: 150px;
	background-color: rgb(74, 60, 103);
	display: flex;
	flex-direction: row;
	color: white;
	justify-content: space-around;
	align-items: center;
}
footer  h3
{
	font-weight: 100;
	margin: 20px auto;
}
footer a
{
	text-decoration: none;
	color: inherit;
}

.link-list
{
	display: flex;
	flex-direction: column;

}

#links-div
{
	height: 100%;
	width: 60%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#social-media
{
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
#social-media a > img
{
	height: 30px;
}
#social-media a
{
	border-radius: 3px;
	display: block;
	border: 1px solid transparent;
	padding: 5px 10px;
}
#social-media a:hover
{
	border: 1px solid white;
}

#go-to-top
{
	cursor: pointer;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	border: 1px solid white;
	transition: 0.4s ease-out;
}
#go-to-top:hover
{
	background-color: rgba(224, 200, 203, 0.3);
}
#go-to-top > div 
{
	width: 20px;
	height: 20px;
	margin: 17px auto;
	border-top: 1px solid white;
	border-right: 1px solid transparent;
	border-bottom: 1px solid transparent;
	border-left: 1px solid white;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
}

@media screen and (max-width:640px){
    .right ul li {
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }

    .event-column{
        width: 80%;
        margin-top: 20px;
    }
 
    footer{
        font-size:10px;
    }

    footer div img{
        margin-right: 11px;
    }

    .font-location{
        font-size: 40px;
    }

}
