
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

/*style the tab */
.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background: black;
}




.tab button {
	border-radius: 2px;
	background-color: inherit;
  	float: left;
 	 border: none;
  	outline: none;
  	cursor: pointer;
  	padding: 14px 16px;
  	transition: 0.3s;
  	color: white;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

body{
  background-image: https://res.cloudinary.com/woodywiz/image/upload/v1567171247/My%20photos/liberia_classroom_large_dxlpgp.jpg;
}

.eventcontent{
  display: inline-block;
    width: 25%;
    padding: 20px 10px ;
    margin: 2%;
    text-align: center;
    box-shadow: 0  20px 5px rgba(37, 73, 214, 0.18);
    background-color: white;
}