:root 
{
  --blue: #2E1F3E;/*rgb(60, 30, 100); */
}
*
{
	margin: 0;
	padding: 0;
}
html
{
	scroll-behavior: smooth;
}
body
{
	font-family: Montserrat, segoe UI, sans-serif;
}
p
{
	font-size: 20px;
	padding-left: 30px;
}
section
{
	position: relative;
	height: 100vh;
	text-align: center;
	background: rgb(240, 240, 250);
}
h2
{
	font-size: 60px;
	font-weight: bolder;
	text-shadow: 2px 2px 5px black;
	padding: 50px;
}
header
{
	margin-top: 0;
	width: 100%;
	display: flex;
	color: white;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 100px;
}
header > nav
{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-right: 10px;
	height: 80px;
}
header > nav > a
{
	display: block;
	text-decoration: none;
	color: white;
	padding: 0 20px;
	cursor: pointer;
	transition: 0.4s ease-out;
}
header > nav > a:hover
{
	transform: scale(1.05);
	text-decoration: underline;
	text-decoration-color: rgb(200, 200, 200);
	color: rgb(200, 200, 200);
}
h3
{
	font-weight: bolder;
	font-size: 30px;
}
footer
{
	height: 150px;
	background-color: rgb(74, 60, 103);
	display: flex;
	flex-direction: row;
	color: white;
	justify-content: space-around;
	align-items: center;
}
footer  h3
{
	font-weight: 100;
	margin: 20px auto;
}
footer a
{
	text-decoration: none;
	color: inherit;
}
.button
{
	border: none;
	cursor: pointer;
	transition: 0.4s ease-out;
}
.blue
{
	color: var(--blue);
}
.title
{
	font-size: 100px;
	padding-left: 30px;
	margin: 0 auto;
}
.unbold
{
	font-weight: 100;
}
.bold
{
	font-weight: 1000;
}
.article
{
	width: 20%;
	background-color: white;
	box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.1);
	text-align: left;
	cursor: pointer;
	border-radius: 3px;
	transition: 0.4s ease-out;
}
.article:hover
{
	box-shadow: 0 0 5px 25px rgba(0, 0, 200, 0.1);
}
.article > img
{
	display: block;
	margin: 10px auto;
}
.article > h3
{
	font-size: 20px;
	text-align: center;
	padding: 10px;
	margin-bottom: 30px;
}
.article > p
{
	font-size: 11px;
	display: block;
	width: 70%;
	margin: 20px;
	word-wrap: break-word;
}
.link-list
{
	display: flex;
	flex-direction: column;

}
.nav-list a{
	text-decoration: none;
	color: white;
}
.nav-list a:link{
	color:white;
}
.nav-list a:visited{
	color: cornflowerblue;
}
#title-section
{
	background-image: url("https://res.cloudinary.com/fabianuzukwu/image/upload/v1567457455/EducateAll-Foundation/csd8zfefl8jvrjgtic72.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-top: 0;
	background-size: 100%;
	position: relative;
	color: white;
	text-align: left;
}
#home-wrapper
{
	margin-top: 0;
	height: 100vh;
	padding-top: 0;
	background: linear-gradient(90deg, var(--blue), rgba(20, 20, 30, 0.7), transparent);
}
#discover-more
{
	padding: 5px 25px;
	font-size: 20px;
	border-radius: 20px;
	box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.8);
	margin-left: 50px;
	margin-top: 40px;
	color: white;
	background-color: var(--blue);
}
#hr
{
	width: 60%;
	height: 3px;
	margin: 0 auto;
	background-color: rgb(0, 0, 0, 0.2);
	border: none;
}
#discover-more:hover
{
	padding-right: 40px;
}
#get-involved
{
	padding: 10px 50px;
	font-size: 25px;
	border-radius: 30px;
	box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.8);
	margin-left: 100px;
	margin-top: 50px;
	background-color: white;
	color: var(--blue);
}
#get-involved:hover
{
	padding-right: 80px;
}
#logo
{
	padding: 10px;
	margin-left: 120px;
}
#home-link
{
	text-decoration: underline;
	text-decoration-color: white;
	text-decoration-line: 5px;
}
#mission-div
{
	display: flex;
	flex-direction: row;
	align-items: center;
}
#mission-div > #mission-desc
{
	border-left: 1px solid var(--blue);
	text-align: left;
	color: var(--blue);
}
#mission-div > *
{
	width: 30%;
	padding: 0 10%;
}
#articles
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
	margin-top: 100px;
}
#talk-section
{
	background-color: white;
	display: flex;
	font-size: 40px;
	text-align: left;
}
#talk-section img
{
	height: 400px;
	margin-top: 150px;
}
#talk-section-right > h3
{
	font-size: 42px;
	display: block;
	margin: 100px 20% 50px;
}
#talk-section-right > p
{
	font-size: 16px;
	line-height: 1.5;
	display: block;
	width: 80%;
	margin: 20px auto;
}
#links-div
{
	height: 100%;
	width: 60%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#go-to-top
{
	cursor: pointer;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	border: 1px solid white;
	transition: 0.4s ease-out;
}
#go-to-top:hover
{
	background-color: rgba(224, 200, 203, 0.3);
}
#go-to-top > div 
{
	width: 20px;
	height: 20px;
	margin: 17px auto;
	border-top: 1px solid white;
	border-right: 1px solid transparent;
	border-bottom: 1px solid transparent;
	border-left: 1px solid white;
	transform: rotate(45deg);
}
#social-media
{
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
#social-media a > img
{
	height: 30px;
}
#social-media a
{
	border-radius: 3px;
	display: block;
	border: 1px solid transparent;
	padding: 5px 10px;
}
#social-media a:hover
{
	border: 1px solid white;
}