/* Footer logo */

position: absolute;
left: 3.82%;
right: 80.08%;
top: 0.44%;
bottom: 98.49%;



/* Group 61 */

position: absolute;
left: 6.83%;
right: 80.08%;
top: 0.44%;
bottom: 98.85%;



/* Path 809 */

position: absolute;
left: 6.83%;
right: 91.63%;
top: 0.55%;
bottom: 98.85%;

background: #FFFFFF;


/* Path 810 */

position: absolute;
left: 8.55%;
right: 89.88%;
top: 0.44%;
bottom: 98.85%;

background: #FFFFFF;


/* Path 811 */

position: absolute;
left: 10.08%;
right: 88.2%;
top: 0.77%;
bottom: 98.85%;

background: #FFFFFF;


/* Path 812 */

position: absolute;
left: 11.82%;
right: 87.12%;
top: 0.77%;
bottom: 98.85%;

background: #FFFFFF;


/* Path 813 */

position: absolute;
left: 13.01%;
right: 85.61%;
top: 0.77%;
bottom: 98.85%;

background: #FFFFFF;


/* Path 814 */

position: absolute;
left: 14.34%;
right: 84.71%;
top: 0.58%;
bottom: 98.85%;

background: #FFFFFF;


/* Path 815 */

position: absolute;
left: 15.34%;
right: 83.6%;
top: 0.77%;
bottom: 98.85%;

background: #FFFFFF;


/* Path 816 */

position: absolute;
left: 16.39%;
right: 81.52%;
top: 0.55%;
bottom: 98.85%;

background: #FFFFFF;


/* Path 817 */

position: absolute;
left: 18.61%;
right: 80.83%;
top: 0.44%;
bottom: 98.85%;

background: #FFFFFF;


/* Path 818 */

position: absolute;
left: 19.37%;
right: 80.08%;
top: 0.44%;
bottom: 98.85%;

background: #FFFFFF;


/* Group 71 */

position: absolute;
left: 3.82%;
right: 93.5%;
top: 0.45%;
bottom: 98.49%;



/* Group 57 */

position: absolute;
left: 4.3%;
right: 93.95%;
top: 0.45%;
bottom: 99.01%;



/* Path 800 */

position: absolute;
left: 4.61%;
right: 94.25%;
top: 0.45%;
bottom: 99.24%;

background: #FFFFFF;


/* Path 801 */

position: absolute;
left: 4.3%;
right: 93.95%;
top: 0.79%;
bottom: 99.01%;

background: #FFFFFF;


/* Group 60 */

position: absolute;
left: 3.82%;
right: 93.5%;
top: 1.03%;
bottom: 98.49%;



/* Path 806 */

position: absolute;
left: 3.82%;
right: 94.94%;
top: 1.03%;
bottom: 98.5%;

background: #FFFFFF;


/* Path 807 */

position: absolute;
left: 5.27%;
right: 93.5%;
top: 1.03%;
bottom: 98.5%;

background: #FFFFFF;


/* Path 808 */

position: absolute;
left: 5.11%;
right: 94.78%;
top: 1.1%;
bottom: 98.49%;

background: #FFFFFF;


/* Group 70 */

position: absolute;
left: 4.32%;
right: 93.85%;
top: 1.11%;
bottom: 98.53%;



/* Ellipse 132 */

position: absolute;
left: 4.32%;
right: 95.52%;
top: 1.34%;
bottom: 98.65%;

background: #E0E0E0;
transform: rotate(-63.64deg);


/* Group 68 */

position: absolute;
left: 4.33%;
right: 94.63%;
top: 1.3%;
bottom: 98.53%;



/* Ellipse 133 */

position: absolute;
left: 5.29%;
right: 94.56%;
top: 1.46%;
bottom: 98.53%;

background: #E0E0E0;
transform: rotate(-63.64deg);


/* Group 67 */

position: absolute;
left: 4.33%;
right: 94.63%;
top: 1.3%;
bottom: 98.54%;



/* Rectangle 407 */

position: absolute;
left: 4.75%;
right: 95.1%;
top: 1.43%;
bottom: 98.56%;

background: #F55F44;
transform: rotate(-76.77deg);


/* Rectangle 408 */

position: absolute;
left: 4.33%;
right: 95.5%;
top: 1.34%;
bottom: 98.38%;

background: linear-gradient(180deg, rgba(128, 128, 128, 0.251) 10225.1%, rgba(128, 128, 128, 0.122) 10225.47%, rgba(128, 128, 128, 0.102) 10225.8%);
transform: rotate(-63.64deg);


/* Path 819 */

position: absolute;
left: 4.34%;
right: 94.63%;
top: 1.3%;
bottom: 98.54%;

background: #210645;


/* Rectangle 405 */

position: absolute;
left: 4.69%;
right: 95.16%;
top: 1.42%;
bottom: 98.57%;

background: #F55F44;
transform: rotate(-50.45deg);


/* Rectangle 406 */

position: absolute;
left: 4.74%;
right: 95.1%;
top: 1.43%;
bottom: 98.56%;

background: #000000;
opacity: 0.05;
transform: rotate(-76.77deg);


/* Rectangle 409 */

position: absolute;
left: 4.76%;
right: 95.09%;
top: 1.39%;
bottom: 98.58%;

background: #000000;
opacity: 0.05;
transform: rotate(-63.64deg);


/* Rectangle 410 */

position: absolute;
left: 4.76%;
right: 95.09%;
top: 1.39%;
bottom: 98.59%;

background: #F55F44;
transform: rotate(-63.64deg);


/* Rectangle 411 */

position: absolute;
left: 4.77%;
right: 95.08%;
top: 1.39%;
bottom: 98.59%;

background: #000000;
opacity: 0.05;
transform: rotate(-63.64deg);


/* Rectangle 412 */

position: absolute;
left: 4.77%;
right: 95.07%;
top: 1.39%;
bottom: 98.59%;

background: #F55F44;
transform: rotate(-63.64deg);


/* Ellipse 134 */

position: absolute;
left: 4.97%;
right: 95.02%;
top: 1.44%;
bottom: 98.55%;

background: #DBDBDB;


/* Group 63 */

position: absolute;
left: 4.45%;
right: 95.51%;
top: 1.4%;
bottom: 98.59%;

opacity: 0.5;


/* Rectangle 413 */

position: absolute;
left: 4.47%;
right: 95.52%;
top: 1.4%;
bottom: 98.59%;

background: #47E6B1;
opacity: 0.5;


/* Rectangle 414 */

position: absolute;
left: 4.45%;
right: 95.51%;
top: 1.4%;
bottom: 98.6%;

background: #47E6B1;
opacity: 0.5;


/* Group 64 */

position: absolute;
left: 6.11%;
right: 93.85%;
top: 1.27%;
bottom: 98.72%;

opacity: 0.5;


/* Rectangle 415 */

position: absolute;
left: 6.13%;
right: 93.87%;
top: 1.27%;
bottom: 98.72%;

background: #47E6B1;
opacity: 0.5;


/* Rectangle 416 */

position: absolute;
left: 6.11%;
right: 93.85%;
top: 1.28%;
bottom: 98.72%;

background: #47E6B1;
opacity: 0.5;


/* Group 65 */

position: absolute;
left: 4.49%;
right: 95.47%;
top: 1.15%;
bottom: 98.84%;

opacity: 0.5;


/* Rectangle 417 */

position: absolute;
left: 4.51%;
right: 95.48%;
top: 1.15%;
bottom: 98.84%;

background: #47E6B1;
opacity: 0.5;


/* Rectangle 418 */

position: absolute;
left: 4.49%;
right: 95.47%;
top: 1.15%;
bottom: 98.85%;

background: #47E6B1;
opacity: 0.5;


/* Group 66 */

position: absolute;
left: 5.91%;
right: 94.05%;
top: 1.13%;
bottom: 98.86%;

opacity: 0.5;


/* Rectangle 419 */

position: absolute;
left: 5.93%;
right: 94.06%;
top: 1.13%;
bottom: 98.86%;

background: #47E6B1;
opacity: 0.5;


/* Rectangle 420 */

position: absolute;
left: 5.91%;
right: 94.05%;
top: 1.14%;
bottom: 98.86%;

background: #47E6B1;
opacity: 0.5;


/* Path 820 */

position: absolute;
left: 4.4%;
right: 95.57%;
top: 1.26%;
bottom: 98.73%;

background: #4D8AF0;
opacity: 0.5;


/* Path 821 */

position: absolute;
left: 4.78%;
right: 95.19%;
top: 1.14%;
bottom: 98.85%;

background: #4D8AF0;
opacity: 0.5;


/* Path 822 */

position: absolute;
left: 5.24%;
right: 94.73%;
top: 1.44%;
bottom: 98.55%;

background: #4D8AF0;
opacity: 0.5;


/* Ellipse 135 */

position: absolute;
left: 6.06%;
right: 93.92%;
top: 1.37%;
bottom: 98.62%;

background: #F55F44;
opacity: 0.5;


/* Ellipse 136 */

position: absolute;
left: 5.77%;
right: 94.21%;
top: 1.39%;
bottom: 98.6%;

background: #4D8AF0;
opacity: 0.5;


/* Ellipse 137 */

position: absolute;
left: 4.62%;
right: 95.36%;
top: 1.43%;
bottom: 98.57%;

background: #47E6B1;
opacity: 0.5;


/* Ellipse 138 */

position: absolute;
left: 5.29%;
right: 94.68%;
top: 1.11%;
bottom: 98.88%;

background: #F55F44;
opacity: 0.5;


/* Group 69 */

position: absolute;
left: 4.5%;
right: 93.97%;
top: 1.11%;
bottom: 98.67%;



/* Path 823 */

position: absolute;
left: 4.86%;
right: 94.32%;
top: 1.24%;
bottom: 98.67%;

background: #210645;


/* Path 824 */

position: absolute;
left: 4.86%;
right: 94.32%;
top: 1.24%;
bottom: 98.67%;

background: #000000;
opacity: 0.15;


/* Path 825 */

position: absolute;
left: 4.5%;
right: 93.97%;
top: 1.11%;
bottom: 98.71%;

background: #210645;


/* Path 826 */

position: absolute;
left: 4.5%;
right: 93.97%;
top: 1.11%;
bottom: 98.71%;

background: #000000;
opacity: 0.15;


/* Path 827 */

position: absolute;
left: 5.65%;
right: 94.32%;
top: 1.16%;
bottom: 98.77%;

background: #F5F5F5;


/* Path 828 */

position: absolute;
left: 4.86%;
right: 94.32%;
top: 1.2%;
bottom: 98.69%;

background: #210645;


/* Ellipse 139 */

position: absolute;
left: 5.61%;
right: 94.26%;
top: 1.22%;
bottom: 98.75%;

background: #F5F5F5;


/* Group 72 */

position: absolute;
left: 7.05%;
right: 80.27%;
top: 1.2%;
bottom: 98.54%;



/* Path 829 */

position: absolute;
left: 7.05%;
right: 92.1%;
top: 1.21%;
bottom: 98.54%;

background: #FFFFFF;


/* Path 830 */

position: absolute;
left: 8.21%;
right: 90.72%;
top: 1.2%;
bottom: 98.54%;

background: #FFFFFF;


/* Path 831 */

position: absolute;
left: 9.62%;
right: 89.1%;
top: 1.21%;
bottom: 98.54%;

background: #FFFFFF;


/* Path 832 */

position: absolute;
left: 11.11%;
right: 87.74%;
top: 1.21%;
bottom: 98.54%;

background: #FFFFFF;


/* Path 833 */

position: absolute;
left: 12.55%;
right: 86.3%;
top: 1.21%;
bottom: 98.54%;

background: #FFFFFF;


/* Path 834 */

position: absolute;
left: 13.94%;
right: 84.83%;
top: 1.21%;
bottom: 98.54%;

background: #FFFFFF;


/* Path 835 */

position: absolute;
left: 15.22%;
right: 83.78%;
top: 1.21%;
bottom: 98.54%;

background: #FFFFFF;


/* Path 836 */

position: absolute;
left: 16.41%;
right: 83.26%;
top: 1.21%;
bottom: 98.54%;

background: #FFFFFF;


/* Path 837 */

position: absolute;
left: 17.19%;
right: 81.74%;
top: 1.2%;
bottom: 98.54%;

background: #FFFFFF;


/* Path 838 */

position: absolute;
left: 18.58%;
right: 80.27%;
top: 1.21%;
bottom: 98.54%;

background: #FFFFFF;
