html, body {
    margin: 0;
    padding: 0;
    font-family: Raleway, Candara, segoe UI, sans-serif;
    font-weight: 500;
}

body{
    height: 100vh;
    background: url("../images/boycharity.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1em 3em;
}
#logo
{
	padding: 10px;
	margin-left: 120px;
}
.header{
    position: absolute;
    text-align: center;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.form{
    position: absolute;
    text-align: center;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

input{
    width: 100%;
    margin: 15px 0;
    border: none;
    border-bottom: 1px solid;
    height: 25px;
    background: rgba(0, 0, 0, 0);
    outline:none;
}

input:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 8px dodgerblue;
    background: #fff;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

#msg{
    margin-top: 20px;
    height: 200px;
    display: inline-block;
}

[type="submit"]{
    color: black;
    margin: 10px 0;
    background-color: white;
    border-radius: 8px;
    outline: none;
    border: none;
    width: 10%;
    height: 3em;
}
[type="submit"]:hover {
	transform: scale(1.05);
	color: rgb(255, 255, 255);
	background-color: rgb(1, 1, 46);
	border-radius: 8px;
}
.nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	padding: 0 0.2em;
	background-color: white;
}

.right {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.right a {
    text-decoration: none;
    color: rgb(1, 1, 46);
    padding: 8px 16px;
}
.right a:hover {
	transform: scale(1.05);
	color: rgb(255, 255, 255);
	background-color: rgb(1, 1, 46);
	border-radius: 8px;
}
.active{
	color: rgb(255, 255, 255);
	background-color: rgb(1, 1, 46);
	border-radius: 8px;
}
